<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  version="4.0">
<!-- 
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
 -->

  <display-name>SecurePing JaxRS Web Interface</display-name>

  <security-constraint>
      <web-resource-collection>
          <web-resource-name>secured</web-resource-name>
          <url-pattern>/api/ping/secured/*</url-pattern>
      </web-resource-collection>
      <auth-constraint>
          <role-name>admin</role-name>
          <role-name>user</role-name>
      </auth-constraint>
      <user-data-constraint>
          <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
  </security-constraint>

  <security-constraint>
      <web-resource-collection>
          <web-resource-name>secured</web-resource-name>
          <url-pattern>/api/ping/secured/pingAdmin</url-pattern>
      </web-resource-collection>
      <auth-constraint>
          <role-name>admin</role-name>
      </auth-constraint>
  </security-constraint>

  <security-constraint>
      <web-resource-collection>
          <web-resource-name>secured</web-resource-name>
          <url-pattern>/api/ping/secured/pingUser</url-pattern>
      </web-resource-collection>
      <auth-constraint>
          <role-name>user</role-name>
      </auth-constraint>
  </security-constraint>
  
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>ApplicationRealm</realm-name>
  </login-config>
    
  <security-role>
      <role-name>admin</role-name>
  </security-role>
  <security-role>
      <role-name>user</role-name>
  </security-role>
</web-app>
